.col-lg-8 .lead{
  color: black;
  font-size: 32px;
  font-style: italic;
}
textarea.form-control{
  resize:none;
  margin-bottom: 8px

}
.card-body .btn-primary{
  padding-right: 10px
}

/* comments section */
/* comments form */
.like button{
  background: white;
  border: none;
}
.card-body button[type=submit]{
  margin: 8px
}

.fa-thumbs-up:focus{
  color:  blue;
}
.fa-thumbs-down:focus{
  color:  red;
}
/* comments form */

/* users coomments */
.comment textarea, .livecomment textarea{
  resize:none;
  border:none;
  font-weight:50;
  background: #ebf0f396;
  padding: 10px 10px ;
}
.comment h5, .livecomment h5{
  font-size: 12px ;
  margin-top: 5px;
}

.comment h5 span{
  font-size: 24px;
  max-width: 60px;
}
.comment > span{
  font-size: 14px;
  max-width: 60px;
}
/* .comment h5 {
  font-size: 10px;
  margin-left: 160px
} */


/* users coomments */
/* comments section */
.btn-primary{
  width:200px;
  margin-right: 100px
}
