{% extends "mysite/base.html" %}
{% block title%}

{% endblock %}
{% block body%}
{% if messages %}
  {% for message in messages %}
  <div class="alert alert-success">
    {{message}}
  </div>

  {% endfor %}
{% endif %}
<div class="container text-center ">
  <div class="main">

    <div class="overlay">
    <!-- <img  src="static/mysite/img/mentor.jpg" alt="Mentormeaning"> -->

    <div class="ask">
      <a href="{% url 'mentorship' %}"><button class="btn btn-primary" type="button" name="button">Ask For Mentorship</button></a>
      <a href="{% url 'consultation' %}"><button class="btn btn-info " type="button" name="button">Ask For Consultation</button></a>
    </div>

    <div class="about" id="about">
      <h2>About</h2>
      <li>Engineer Omar</li>
      <li>Studied Computer Engineering At Faculty Of Enginnering Ain Shams University</li>
      <li>Years Of Experience</li>
    </div>

    <div class="about" id="contact">
      <h2>Contact</h2>
      <li>0114</li>
      <li>Email</li>

    </div>
    <section class="ourteam">
      <div class="team">
        <div class="container">
          <h1>asdasd</h1>
        </div>
      </div>
    </section>
    </div>
  </div>
</div>

{% endblock %}
