body{
  background: red;
}
.all{
  text-align:center;
  color: black;
}

.ask{
  margin: 40px;
  text-align: center;
}
.mentorform{
  margin:20px;
  text-align: center;
}

img{
  height: 300px;
  width: auto;
  margin: 20px;
}
.about{
  margin: 250px 5px;

  text-align: left;
}
h2{
  background-color: grey;
}



.base-form{
  width: 550px;
  background: red;
  min-height: 650px;
  padding: 50px 40px;
  border-radius: 10px;
  position: absolute;
  left: 40%;
  top: 10%;
  transform:translate(-30%,-10%);
}
.base-form h1{
  text-align: center;
  margin-bottom: 60px;
  color: red;
}

::placeholder{
  color:white;
  opacity: 1;
  padding: 1%;
  font-size: 18;
}
.basebtn{
  margin:1px;
}
.basebtn input{

  width: 20%;
  height: 50px;
  border: none;
  font-weight: bold;
  background-size: 50%;
  outline: none;
  cursor: pointer;
  text-align: center;
  margin-left: 40%;

  padding-top: 6px;
  font-size: 20px;
  background: #7e11b8;
  color: black;
  transform: translateY(120%);
}



.text{

  transform: translateY(5%);
}

div select{
  margin: 1%;
  text-align: center;
  background: #7e11b8;
  color: black;
  border: none;
  width: 330px;
  font-size: 20;
  margin-top: 6px;
  float: right;

}
.form{

margin-top: 20px;
border-top-left-radius: 10px;
border-top-right-radius: 10px;

}

.form > label {
font-family: Georgia, "Times New Roman", Times, serif;
font-size: 16px;
color: red;
height: 30px;
width:30px;
margin-top: 5px;
padding-top:  6%
text-align: right;
clear: both;
float:left;


}

.form > input {
height: 25px;
width: 330px;
border: 1px solid #000;
background: #7e11b8;
float: right;
margin-right: 5px;
padding:2%;
color: black;
}
.alert-success{
  background: #10a333;
  text-align: center;
}
.form-group label{
  color: red;
  margin-left: -6%;
}
.form-group textarea{
  background: #7e11b8;
  max-height: 60px;
}
.btn-success{
  background: #7e11b8;
  margin-left: 45%;
}


.so{
  background: red;
  margin-bottom: 9px;
}
.xo{
  background: yellow;

}
