{% load static %}
<html>

      <head>
          <title>{% block title %}{% endblock %}</title>
          <meta charset="utf-8">
          <meta http-equiv="X-UA-Compatible content="IE-edge" "
          <!-- First Moblie Meta -->
          <meta name="viewport" content="width=device-width, initial-scale=1">
          <link rel="stylesheet" href="{% static 'blog/css/bootstrap.css' %}">
          <link rel="stylesheet" href="{% static 'blog/css/style.css' %}">




      </head>

      <body>
          <script src="{% static 'blog/js/jquery-2.2.4.js' %}"></script>
          <script src="{% static 'blog/js/bootstrap.min.js' %}"></script>
          <script src="{% static 'blog/js/scripts.js' %}"></script>
          <script scr="{% static 'blog/js/html5shiv.min.js' %}"></script>
          <script scr="{% static 'blog/js/respond.min.js' %}"></script>
          <script src="{% static 'blog/js/index.js' %}"></script>




          {% block body %}
          {% endblock %}
      </body>
  </html>
