{% extends 'mysite/base.html' %}
{%load static%}
{% block title %} Blog

{% endblock %}
{% block body %}
  <script src="{% static 'blog/js/index.js' %}"></script>
  <link rel="stylesheet" href="{%static 'blog/css/styles.css'%}">

<!-- featured posts in slider -->

<div class="featured" id="x">
aaa
</div>
<!-- featured posts in slider -->

  <!--Start of Posts-->
    <div class="container text-center">
      <div class="post_main" >
        {%for post in posts%}
        <div class="view_post">
          <p class="lead" id="{{post.post_heading}}">Topic: {{post.post_heading}}</p>
          <textarea cols="60"  readonly id="{{post.id}}">{{post.post_text}}</textarea>
          <a href="{% url 'detail' post.id %}">More</a>

        {%endfor%}

        <!-- Adding the response from ajax to the posts-->
          <div class="response-post" id="result" style="display:none;">
              <p class="lead" id="response-post-topic"></p>
              <textarea id="response-post-content"  cols="60" readonly></textarea>
              <a id="response-postlink" href="#">More</a>
          </div>
        </div>
      </div>
  <!--End of Posts-->
  <!--Start of pagination-->
        <nav aria-label="...">
          <ul class="pagination justify-content-center ">
            {% if page_obj.has_previous == False %}
              <li class="page-item">
                <button  type="button" class="btn btn-info" onclick="more()">Check For New-Post</button>
              </li>
            {% endif %}

            {% if page_obj.has_previous %}
              <li class="page-item">
                <a class="page-link" href="?page=1">First &raquo;</a>
              </li>
              <li class="page-item">
                <a class="page-link" href="?page={{ page_obj.previous_page_number }}" >Previous</a>
              </li>
            {% endif %}

            {% for num in page_obj.paginator.page_range %}
              {% if page_obj.number == num %}
                <li class="page-item active">
                  <a class="page-link" href="?page={{ num }} ">Page {{ num }} of {{ page_obj.paginator.num_pages }} <span class="sr-only">(current)</span></a>
                </li>
                {% elif num > page_obj.number|add:'-4' %}
                  <li class="page-item">
                    <a class="page-link" href="?page={{ num }} "> {{ num }} </a>
                  </li>
              {% endif%}
            {% endfor %}

            {% if page_obj.has_next %}
              <li class="page-item">
                <a class="page-link" href="?page={{ page_obj.next_page_number }}">Next</a>
              </li>
              <li class="page-item">
                <a class="page-link" href="?page={{ page_obj.paginator.num_pages }}">last &raquo;</a>
              </li>
            {% endif %}

          </ul>
        </nav>
  <!--End of pagination-->
    </div>
    {{form}}
  {% endblock %}
