{% extends 'mysite/base.html' %}
{%load static%}
{% block title %}
  {{post_title}}
{% endblock %}
{% block body %}
  {% for post in post_detail%}


  <!-- Bootstrap core CSS -->
  <!-- <link href="{% static 'blog/vendor/bootstrap/css/bootstrap.css' %}" rel="stylesheet"> -->
  <link rel="stylesheet" href="{% static 'mysite/css/bootstrap.css' %}">
  <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.7.0/css/all.css" integrity="sha384-lZN37f5QGtY3VHgisS14W3ExzMWZxybE1SJSEsQp9S+oqd12jhcu+A56Ebc1zFSJ" crossorigin="anonymous">
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
  <!-- Custom styles for this template -->
  <link rel="stylesheet" href="{% static 'blog/css/blog-post.css' %}">

<div class="container">
    <div class="row">
      <!-- Post Content Column -->
      <div class="col-lg-8">
        <!-- Title -->
        <h1 class="mt-4" id="{{post.id}}">{{post.post_heading}}</h1>
        <span id="post_id" style="display:none">{{post.id}}</span>
        <!-- Author -->
        <p class="lead">
          by
          <a>Eng.Omar</a>
        </p>
        <hr>
        <!-- Date/Time -->
        <p>Posted on {{post.published_date}}</p>
        <hr>
        <!-- Preview Image -->
        {% if post.image %}
        <img class="img-fluid rounded" src="{{post.image.url}}" alt="">
        {% endif %}
        <hr>
        <!-- Post Content -->
        <p class="lead">{{post.post_text}}</p>
        <blockquote class="blockquote">
          <footer class="blockquote-footer">
            <cite title="Source Title">References</cite>
          </footer>
        </blockquote>
        <hr>
        <!-- current user reaction -->
        <form>
          <div class="vote">
            <div class="like">
              <span class="unlike"></span>
              <button  class="far fa-thumbs-up fa-2x" type="button" id="upvote" ></button>
              <span class="remove-dislike"></span>
              <button  class="far fa-thumbs-down fa-2x" type="button" id="downvote" ></button>
              <button type="button" class="btn btn-primary ml-4"  id="comment-btn">Leave a Comment</button>

            </div>
              <label for="upvote">Up-Vote</label>
              <label for="downvote">Down-Vote</label>
          </div>
          <hr>
          <!-- users previous reacts -->
          <div class="ml-3 mb-1">
              {% for react in reacts%}
                <p  class="far fa-thumbs-up fa-2x" style="color:blue"></p><span id="likes" class="pl-2" style="font-size:28">{{react.no_of_likes}}</span>
                <p class="far fa-thumbs-down fa-2x" style="color:red"></p><span id="dislikes" class="pl-2" style="font-size:28">{{react.no_of_dislikes}}</span>
              {% endfor %}
              {% if users %}
                <span>users</span>
              {% endif %}
              <!-- buttons for commenting or show comments -->
              <button type="button" class="btn btn-danger ml-4" id="comments">Comments</button>
          </div>
          <hr>
        </form>

        <!-- Comments Form -->
        <div class="card my-4 text-center" id="commentForm" style="display:none">
          <h5 class="card-header">Your Comment</h5>
          <div class="card-body">

            <form id="comments-form" method="post"  style="margin-left:10px;">
              {% csrf_token %}

              <div class="form-group">
                <textarea class="form-control" rows="3" id="comment" required></textarea>
                <input class="text-center" type="text" id="visitor_name" placeholder="Username" required name="visitor_name">
              </div>
              <button type="submit" class="btn btn-primary " >Submit</button>
            </form>
          </div>
          <!-- current user comment -->
        </div>
          <div class="card text-center" id="livecomment" style="display:none">
            <h6 class="card-header" >New comment</h6>
            <div class="card-body">
              <textarea rows="2.5" cols='75' id="livecommenttext"  readonly style="resize:none"></textarea>
              <span>Just Now</span>
              <h5>  <span id="liveusername"></span></h5>
            </div>
          </div>
          <!-- Previous Users comments -->
          <div class="card" id="users-comments" style="display:none">
            <h3 class="card-header">Users-Comments</h3>
            {% for comment in comments%}
            <div class="container "  >
              <div class="row col-md-4">
                <div class="media ">
                  <div class="media-body">
                    <h7 style="font-weight:bold"> {{comment.username}} </h7>
                    <div class="comment">
                      <textarea name="name" rows="2.5" cols="60" readonly >{{comment.comment}}</textarea>
                      <span>{{comment.published_date}}</span>
                      <hr>
                    </div>
                  </div>
                </div>
              </div>
            </div>
            {%endfor%}
          </div>
          <hr>
      <!-- Sidebar Widgets Column -->
      <div class="">
        <!-- Search Widget -->
        <!-- <div class="card my-4">
          <h5 class="card-header">Search</h5>
          <div class="card-body">
            <div class="input-group">
              <input type="text" class="form-control" placeholder="Search for...">
              <span class="input-group-append">
                <button class="btn btn-secondary" type="button">Go!</button>
              </span>
            </div>
          </div>
        </div> -->
        <!-- Categories Widget -->
        <div class="card my-4">
          <h5 class="card-header text-center">Categories</h5>
          <div class="card-body">
            <div class="row">
              <div class="col-lg-12">
                <ul class="list-unstyled mb-0 text-center">
                {% for category in post.category.all%}
                {%if category%}
                  <li>
                    <a href="{%url 'categorize' category%}">{{category}}</a>
                  </li>
                {%endif%}
                {%endfor%}
                </ul>
              </div>
            </div>
          </div>
        </div>
        <!-- Side Widget -->
        <div class="card my-4 text-center">
          <h5 class="card-header">Side Widget</h5>
          <div class="card-body">
            You can put anything you want inside of these side widgets. They are easy to use, and feature the new Bootstrap 4 card containers!
          </div>
        </div>
      </div>
    </div>
    <!-- /.row -->
  </div>
  <!-- /.container -->
  <!-- Footer -->
  <footer class="py-5 bg-dark">
    <div class="container">
      <p class="m-0 text-center text-white">Copyright &copy; Your Website 2020</p>
    </div>
    <!-- /.container -->
  </footer>

  <!-- Bootstrap core JavaScript -->
  <script src="{% static 'blog/vendor/jquery/jquery.min.js' %}"></script>
  <script src="{% static 'blog/vendor/bootstrap/js/bootstrap.bundle.min.js' %}"></script>
  <script src="{% static 'blog/js/post-detail.js' %}"></script>

{%endfor%}
{%endblock%}
