<!DOCTYPE html>

<html lang="en" dir="ltr">
  <head>

    <meta charset="utf-8">
    <title></title>
      <script type="text/javascript">
      function x() {

        $.ajax({
          type: "GET",
          url: 'ajax/x/',
          success: () => {
          document.querySelector('#result').innerHTML = data;
          }

        })


      };

    </script>
  </head>
  <body>
    <form class=""  >
      {% csrf_token %}
                <input id="currency" placeholder="Currency" type="text">
                <button  class="btn btn-primary" value="Convert" onclick="x()"></button>

            <div id="result"></div>
    </form>

  </body>

</html>
