{% extends 'mysite/base.html' %}
{%load static%}
{% block title %}
  Blog
{% endblock %}
{% block body %}
<link rel="stylesheet" href="{% static 'blog/css/try.css' %}">

<script type="text/javascript">
  $(function(){
    'use strict';

    // adjust slider height
    var winh = $(window).height(),
     nav = $('.navbar').innerHeight(),
     x = $('.x').innerHeight();
    $('.slider .carousel-item').height(winh - (nav + x ) );
  });
</script>
<div class="x">
  asdasdasd
</div>
<div class="slider">
  <div id="carouselExampleIndicators" class="carousel slide" data-ride="carousel">
   <ol class="carousel-indicators">
     <li data-target="#carouselExampleIndicators" data-slide-to="0" class="active"></li>
     <li data-target="#carouselExampleIndicators" data-slide-to="1"></li>
     <li data-target="#carouselExampleIndicators" data-slide-to="2"></li>
   </ol>
   <div class="carousel-inner">
     <div class="carousel-item one active">
     </div>
     <div class="carousel-item two">
     </div>
     <div class="carousel-item three">
     </div>
   </div>
   <a class="carousel-control-prev" href="#carouselExampleIndicators" role="button" data-slide="prev">
     <span class="carousel-control-prev-icon" aria-hidden="true"></span>
     <span class="sr-only">Previous</span>
   </a>
   <a class="carousel-control-next" href="#carouselExampleIndicators" role="button" data-slide="next">
     <span class="carousel-control-next-icon" aria-hidden="true"></span>
     <span class="sr-only">Next</span>
   </a>
  </div>
</div>

{% endblock %}
